*::-webkit-scrollbar-thumb {
	background-color: #maincolor1;
}

a:focus,
a:hover,
.btn-outline-primary,
.btn-link,
.page-link ,
.text-primary ,
.btn-unstyle:focus .expand-more,
.dropdown-item:focus,
.dropdown-item:hover,
.fancybox-success a:hover ,
.bootstrap-datetimepicker-widget .btn.focus,
.bootstrap-datetimepicker-widget .btn:focus,
.bootstrap-datetimepicker-widget .btn:hover,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li.current > .ttvmenu-link-wrapper i,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li.current > .ttvmenu-link-wrapper a span,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li:hover > .ttvmenu-link-wrapper i,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li:hover > .ttvmenu-link-wrapper a span,
.ttvheader-top-search-wrapper .ttvheader-search-btn:hover i,
#ttvcmsdesktop-language-selector:hover .ttv-language-btn i, 
#ttvcmsdesktop-currency-selector:hover .ttv-currency-btn i, 
#ttvcmsdesktop-user-info:hover .ttvhedaer-sign-btn i,
#ttvcmsdesktop-language-selector:hover .ttv-language-btn .ttv-language-span, 
#ttvcmsdesktop-currency-selector:hover .ttv-currency-btn .ttv-currency-span, 
#ttvcmsdesktop-user-info .ttvhedaer-sign-btn:hover,
.ttv-language-dropdown li a:hover, 
.ttv-currency-dropdown li a:hover,
.ttvcms-header-cart:hover .ttv-cart-cart-inner .ttv-cart-title,
.ttvproduct-cart-btn:hover .ttvproduct-add-to-cart i,
.ttvproduct-timer-wrapper .seconds,
.ttvfooter-storelogo-imformation .ttvfooter-logo-link-wrapper a:hover,
.ttvfooter-account-link .ttvfooter-link-wrapper li a:hover, 
#block_myaccount_infos #footer_account_list li a:hover, 
#block_myaccount_infos li a:hover,
.ttvcopylink p:hover,
.block_newsletter .ttvnewsletter-input input[type=text]:focus+button .search,
.block_newsletter .ttvnewsletter-input button[type=submit] .search:hover,
.ttvsearch-dropdown-total-wrapper:hover .ttvsearch-dropdown-total,
.ttvproduct-button-main button:hover i,
.ttvproduct-button-main button:hover,
.ttvcmstestimonial .ttvtestimonial-designation,
.ttvcms-left-testimonial .ttvtestimonial-designation,
.ttvblog-event-all-content-block:hover .ttvnews-event-titel a,
.ttvnews-event-content-wrapper .ttvnews-event-read-more a,
.ttvblog-event-all-content-block:hover .ttvnews-event-titel a h5 {
    color: #maincolor1;
}

.btn-primary:hover,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle ,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.card-primary ,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.tag-primary,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.bg-primary,
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default,
.custom-radio input[type=radio]:checked+span,
.btn-default:hover,
.bootstrap-datetimepicker-widget .datepicker td.active,
.bootstrap-datetimepicker-widget .datepicker td.active:hover,
.select-title option[selected="selected"],
.select-title .js-search-link:hover,
.ttv-cart-cart-outer .ttv-cart-cart-inner,
.ttvmain-slider-next-pre-btn .ttvcmsmain-prev:hover,
.ttvmain-slider-next-pre-btn .ttvcmsmain-next:hover,
.ttvtabs-products li.active,
.ttvtabs-products li:hover,
.ttvnewsleteer-btn-wrapper .btn-primary,
.ttvbottom-to-top,
.ttvsearch-more-search:hover,
.ttvcart-product-list-checkout:hover,
.ttvcart-product-list-viewcart:hover,
.ttvtabs li.active a:before,
#products.grid .ttvproduct-view.ttvproduct-grid,
#products.grid-2 .ttvproduct-view.ttvproduct-grid-2,
#products.list .ttvproduct-view.ttvproduct-list,
#products.list-2 .ttvproduct-view.ttvproduct-list-2,
#products.catelog .ttvproduct-view.ttvproduct-catelog,
.ttvcms-left-column-wrapper .ttv-left-pannal-btn-wrapper:hover,
.ttvcmsproduct-grid-list .ttvproduct-view:hover,
.ttv_search_filter_wrapper .ttvleft-right-title-wrapper:hover,
.box input:checked + label,
.ttvcmstheme-control .ttvtheme-control-icon:hover,
.ttvtheme-control-wrapper .ttvtheme-option .btn-primary,
.ttvtheme-control-wrapper .ttvtheme-control-reset:hover,
.ttvcmstheme-control .ttvtheme-control-wrapper .ttvselect-theme select option:hover,
.ttvblob-all-submit-btn .ttvcmsblog_submit_btn:hover ,
.pagination .ttv-pagination-wrapper .ttv-pagination-li.active,
.pagination .ttv-pagination-wrapper .ttv-pagination-li:hover,
.ttvsearch-more-search:hover,
.ttvcart-product-list-checkout:hover,
.ttvcart-product-list-viewcart:hover ,
.ttv-innerpage-button:hover{
	background-color: #maincolor1;
}

.ttvtabs-products li.active,
.ttvtabs-products li:hover,
.ttvsearch-more-search:hover,
.ttvcart-product-list-checkout:hover,
.ttvcart-product-list-viewcart:hover {
    border: 1px solid #maincolor1;
}

.block_newsletter .ttvnewsletter-input input[type=email]:focus {
	border: 3px solid #maincolor1;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.card-primary,
.card-outline-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.ttv-innerpage-button:hover {
	border-color: #maincolor1
}

